body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.topbar {
    margin-top: 0;
    display: flex;
    height: 60px;
    background-color: white;
    box-shadow: 5px 0px 10px lightgray;
    padding-left: 50%;
    border-radius: 5px;
}

.nav-element {
    text-decoration: none;
    font-size: 20px;
    color: crimson;
    margin: 15px 20px;
}

a:hover {
    color: peachpuff;
}

#top-heading {
    font-size: 50px;
}

.crimson {
    color: crimson;
}

.top-part {
    display: flex;
}

#top-left {
    margin-top: 3%;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    margin-top: 20px;
}

.text-color {
    margin-bottom: 50px;
    color: rgb(59, 58, 58);
}

#top-img {
    width: 70%;
}

#mid-img {
    width: 40%;
    height: auto;
    padding-left: 25%;
}

.link-button {
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(tomato, crimson);
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px salmon;
}

h2 {
    font-size: 35px;
}

.middle-part {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    margin-top: 100px;
}

.menu-section {
    width: 100%;
}

.center-text {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: rgb(59, 58, 58);
}

.menu-item {
    display: flex;
    padding: 80px;
}

.food-box {
    background-color: white;
    width: 33%;
    padding: 15px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    box-shadow: rgba(89, 119, 252, 0.5) 0px 14px 28px;
}

.food-pic {
    width: 100%;
    border-radius: 10px;
}

.map {
    filter: grayscale(100%) invert(92%) height: 200px;
}

.footer {
    text-align: center;
    padding: 2% 25%;
    background-color: rgb(80, 71, 71);
}

.white {
    color: white;
}